@font-face {
    font-family: Brandon;
    src: url('../fonts/brandon.otf');
}

#wrapper {
	position: absolute;
	left: 0px;
	top: 0px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    font-family: Brandon, sans-serif;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #005596;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	box-shadow: -4px 0px 0px -2px #E7A614 inset;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav .active {
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
	color: #E7A614;
	background: #005596;
	box-shadow: -4px 0px 0px -2px #E7A614 inset;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #FFF;
}
xs screen size


bootstrap media queries sizes
@screen-sm-min
bootstrap sass media queries
bootstrap css download


.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-dropdown-menu {
    list-style-type: none;
    display: none;
}

.sidebar-dropdown-menu.toggled {
    display: block;
}

@media(max-width:0px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar-default {
    background: #005596;
    font-family: Brandon, sans-serif;
}

.navbar-header .navbar-brand {
    color: #FFF;
}

.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus {
    color: #E7A614;
    background: #005596;
}

.navbar {
	margin-bottom: 0;
}

.navbar .nav > li {
    cursor: pointer;
}

.navbar .nav > li > a {
    font-size: 20px;
    color: #FFF;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #E7A614;
    background: #005596;
}

.navbar-toggle {
	display: block;
	margin-left: 10px;
	margin-right: 40px;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #005596;
	border-color: #E7A614;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #FFF;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background: #E7A614;
}

.dropdown-toggle:active, 
.open .dropdown-toggle,
.dropdown-menu,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #E7A614 !important;
    background: #005596 !important;
}

.dropdown-menu > li > a {
    color: #FFF !important;
    background: #005596 !important;
}

.navbar-brand.center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#loginpanel {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.panel-default {
	margin-top: 15px;
}

.panel-heading {
    font-family: Brandon, sans-serif;
}

.panel-default .panel-heading {
    color: #FFF;
    background: #005596;
}

.panel-default:hover .panel-heading {
    color: #E7A614;
}

.panel-default:hover #loginheading {
    color: #FFF;
}

.logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 162px;
    width: 272px;
}

@media screen and (max-width:900px) {
	.logo {
		display: none;
	}
}

.brandon {
	font-family: Brandon, sans-serif;
}

.btn-primary {
	background: #005596;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background: rgba(255,255,255,0.2);
}

.modal-form {
    font-family: Brandon, sans-serif;
	margin: 10px;
    color: #E7A614;
}

#modalformheader {
    font-family: Brandon, sans-serif;
    color: #E7A614;
}

.button-colored {
    margin-bottom: 10px;
	color: #FFF;
	background: #005596;
}

.button-colored:hover,
.button-colored:active,
.button-colored:visited,
.button-colored:focus {
	color: #E7A614;
	background: #005596;
}

.table-toowide {
	overflow: auto;
	overflow-y: hidden;
}

#container-index {
	overflow-x: hidden;
	overflow-y: hidden;
}

.dropdown-toggle:active,
.dropdown-toggle:visited,
.dropdown-toggle:focus, {
	color: #E7A614;
	background: #005596;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}